<div class="row user-comment">
    <div class="user-avatar col-3">
      <img src="/assets/img/user.png" alt="user avatar">
    </div>

    <div class="user-comment-infos">
      <small>posted on: <strong>20 Mai 2019</strong> by <strong>@user</strong></small>
    </div>

    <div class="user-comment-content col-12">
      <small class="user-comment-text">This is a funny comment</small>
    </div>
</div>

<div class="row user-comment">
    <div class="user-avatar col-3">
      <img src="/assets/img/user.png" alt="user avatar">
    </div>

    <div class="user-comment-infos">
      <small>posted on: <strong>20 Mai 2019</strong> by <strong>@user</strong></small>
    </div>

    <div class="user-comment-content col-12">
      <small class="user-comment-text">This is a funny comment</small>
    </div>
</div>

<div class="row user-comment">
    <div class="user-avatar col-3">
      <img src="/assets/img/user.png" alt="user avatar">
    </div>

    <div class="user-comment-infos">
      <small>posted on: <strong>20 Mai 2019</strong> by <strong>@user</strong></small>
    </div>

    <div class="user-comment-content col-12">
      <small class="user-comment-text">This is a funny comment</small>
    </div>
</div>

<div class="row user-comment">
    <div class="user-avatar col-3">
      <img src="/assets/img/user.png" alt="user avatar">
    </div>

    <div class="user-comment-infos">
      <small>posted on: <strong>20 Mai 2019</strong> by <strong>@user</strong></small>
    </div>

    <div class="user-comment-content col-12">
      <small class="user-comment-text">This is a funny comment</small>
    </div>
</div>
